* {
font-family: Arial, Verdana, sans-serif;
color-top: #222222;
text-align: center;}
#nav, #feature, .article, #footer {
background-color: #55a8a3;
margin-top: 20px;
margin-article: 300px;
padding: 10px 0px 5px 0px;}
#feature, .article {
height: 450px;}
li {
display: inline;
padding: 5px;
