* {
font-family: Arial, Verdana, sans-serif;
color: ##533c6d;
text-align: center;}
#nav, #feature, .article, #footer {
background-color: #8c6aa0;
margin-top: 20px;
padding: 10px 0px 5px 0px;}
#feature, .article {
height: 175px;}
li {
display: inline;
padding: 5px;}